.focus-img {
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.focus-img.smoother {
    /* Slight delay to lower the stuttering */
    -webkit-transition: all .2s;
    transition: all .2s
}

/* CURSOR TYPES */
.focus-img.cursor-arrow {
    cursor: default;
}

.focus-img.cursor-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.focus-img.cursor-crosshair {
    cursor: crosshair;
}